extends layout

block content
  div.container
    div.post-wrapper
      h3.post_title #{username}'s Submissions
      each val, index in posts
        a(href='/post/' + val._id)
          div.post_item
            .float-img-right
              img(width='300px' src="https://loremflickr.com/640/360")
            p=val.title
            p.text=val.prev
            i Published: #{val.date.getMonth() + '/' + val.date.getDate() + '/' + val.date.getFullYear()} 
              span by #{val.author}
